# Ignore all files
*

# But don't ignore files with extensions
!*.*

# Don't ignore directories
!*/

# Ignore Emacs temp files
*~
/#*

# Ignore the print function
binary_tree_print.c

# Ignore files used for testing
*main*